/* Projects */

#center {
  display: block;
  margin: 0 auto;
  width: 70%;
}

// main level

.projlabel {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  background-color: whiteSmoke;
  transition: background-color .15s ease-in-out;
}

.projinput:checked + label, .projlabel:hover {
  background-color: #999;
}

.projlabel:after, .projinput:checked + .projlabel:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #e5e5e5;
  transition: background-color .15s ease-in-out;
}

.projlabel:hover:after, .projinput:checked + .projlabel:after {
  background-color: #b5b5b5;
}

.projinput:checked + .projlabel:after {
  content: "-";
}

.projinput {
  display: none;
}

// accordian

.projtext, .projsubtext {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.projinput:checked ~ .projtext, .projsub .projinput:checked ~ .projsubtext { 
  opacity: 1;
  height: auto;
}

// sublevels

.projsub .projlabel {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}

.projsub .projlabel:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.projsub .projlabel:after, .projsub .projinput:checked + .projlabel:after {
  left: 0;
  background: none;
}

.projsub .projinput:checked + label, .projsub .projlabel:hover {
  background: none;
}

.projsubtext {
  padding: 0 1em 0 2em;
}